@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior:smooth;
}

body {
    background:#f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.current-date,
.current-time {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #f9f9f9;
    font-weight: normal;
    transition: font-weight 0.3s ease;
    z-index: 100; /* Adjust the z-index as needed */
}

/* Style specifically for the current date */
.current-date {
    font-size: 1em;
    margin-top: 20px; /* Adjust the margin as needed */
}


.logo img {
    width: 150px; 
    height: auto; 
    margin-right: 180px;
}

.navigation a {
    text-decoration: none;
    color: #f9f9f9;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 20px;
    font-weight: 600;
    font-size: 1.5em;
}

.navigation a:hover, 
.navigation a.active {
    background: rgb(82, 74, 74);
    color: #f9f9f9;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #f9f9f9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #991d1d;
    padding: 100px;   
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300px;
}

.service {
    position: relative;
    background: #991d1d;
    padding: 100px;
}

.service h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.service h4{
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
}

.service p {
    font-size: 1em;
    color: #fff;
    font-weight: 300px;
}

.service ul {
    font-size: 1em;
    color: #fff;
    font-weight: 300px;
}

.contact {
    position: relative;
    background: #991d1d;
    padding: 100px;
}

.contact h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.contact form {
    font-size: 1em;
    color: #fff;
    font-weight: 300px;
}

.contact button{
    margin-right: 20px;
}

.contact button:hover{
    background: black;
    color: white;
    border: none;
}

.contact reset:hover{
    background: black;
    color: white;
    border: none;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact form label {
    margin-bottom: 10px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact form button {
    margin-right: 0;
    margin-top: 10px;
}



#main {
    opacity: 0.92;
}

footer {
    background-color:rgb(82, 74, 74);
    color:  #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

