@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ================================== Root Variables =================================== */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff0000;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-background2: #f6f6f9;

    --color-info: #677483;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ===================== Dark Theme Variables ==================== */
.dark-theme-variables {
    --color-primary: #0000ff;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-background2: #7e7e7e;

    --color-info: #181a1e;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

body {
width: 100vw;
height: 100vh;
font-family: poppins, sans-serif;
font-size: 0.88rem;
background: var(--color-background);

user-select: none;
overflow-x: hidden;
color: var(--color-dark);
}

.bbms {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    /* grid-template-columns: 14rem auto 23rem; */
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}


.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* ================================= Sidebar ===================================== */
aside {
    height: 100vh;
    width: 17.5vw;
    /* background: var(--color-info); */
    position: fixed;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.6rem;
}

aside h2 {
    font-size: 2.1rem;
}

aside .logo img {
    margin-top: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 76vh;
    position: relative;
    top: 1.3rem;
}

.sidebar .menu .item a .material-symbols-sharp {
    display: flex;
    flex-direction: column;
    height: 600vh;
    position: relative;
    top: 1.3rem;
}

aside .sub_menu {
    display: none;
    height: 20vh;
    width: 16vw;
    position: relative;
    left: 1.5rem;
}

aside h3 {
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    /* color: var(--color-info-dark); */
    margin-left: 1rem;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    height: 2.8rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 5px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}


/* Change the color to suit your design */
    /* Add other styles to highlight the active item */
/* .sidebar .menu.active {
    background: var(--color-light);
    color: var(--color-primary);
}

.sidebar .menu.active:before {
    content: "";
    width: 5px;
    height: 100%;
    background: var(--color-primary);
}

.sidebar .menu.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
} */


aside .sidebar a:hover {
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* Rotate 90 degrees when hovered */
aside .sidebar a:hover #arrow{
    transform: rotate(90deg);
}

aside .sidebar .count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ================================ Main ========================================== */
main {
    /* background: green; */
    margin: 1.4rem 20vw 0 18vw;
    width: 59vw;
}

main .modify1 span {
    color: green;
}

main .modify2 span {
    color: red;
}

.mnr button {
    background: greenyellow;
    font-size: 25px;
    cursor: pointer;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.4rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

/* ************************************ figure starts********************************* */
main .insights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    cursor: pointer;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    height: 165px;
    overflow: hidden;
}

main .insights > div:hover {
    box-shadow: none;
    font-size: 18px;
    height: 165px;

    h1 {
        font-size: 30px;
        transition: all 0.2s ease;
    }

    circle {
        stroke-width: 12;
        stroke: red;
        transition: all 0.2s ease;
        transform: scale(1.1) translate(5px, 5px);
    }

    .number {
        top: 5px;
        left: 8px;
        transition: all 0.1s ease;
    }

    small {
        font-size: 11px;
        transition: all 0.1s ease;
    }
}


main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h1 {
    margin: 3rem 0 0 -0.4rem;
    /* background: red; */
}

main .insights .progress {
    position: relative;
    width: 86px;
    height: 84px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 13;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    /* stroke-dasharray: 110; */
    /* stroke-dashoffset: 92;     */
}

main .insights .Aplus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 130;
}

main .insights .Bplus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 30;
}

main .insights .Oplus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 20;
}

main .insights .ABplus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 50;
}

main .insights .Aminus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 100;
}

main .insights .Bminus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 150;
}

main .insights .Ominus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 50;
}

main .insights .ABminus svg circle {
    stroke-dasharray: 223;
    stroke-dashoffset: 50;
}

main .insights .progress .number {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1rem;
    display: flex;
}

/* **********************figure ends******************** */


/* -----------------------------------Tables-------------------------------------------- */

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}





/* ============================== Right =============================== */
.right {
    position: fixed;
    /* background: var(--color-info); */
    /* background: blue; */
    margin: 0 77.6vw;
    width: 21vw;
    height: 100vh;
}

.right .top {
    display: flex;
    margin-top: 1.4rem;
    justify-content: center;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 1.5rem;
    text-align: right;
}

/* ========================Recent Updates==================== */
.right .recent-updates {
    margin-top: 0.5rem;
}

/* .right .recent-updates .profile-photo {
    margin-left: -1rem;
} */

.right .recent-updates h2 {
    margin-bottom: 0.5rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: 0.5rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*=========================== Media Queries Tablet and Small Laptop======================== */
@media screen and (max-width: 1164px) {
    .bbms {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    main .insights {
        grid-template-columns: repeat(2, 1fr);
        gap: 1;
      
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 82vw
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}    

/*============================= Media Queries Mobile and Small Tablet ================================*/
@media screen and (max-width: 768px) {
    .bbms {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }
}